a{
    color: #ffffff;
    font-size: 22px;
    word-spacing: 100px;
    text-align: right;
    text-decoration: none;
    padding-top: 12px;
    font-family: sans-serif;
}
.menu{
    background-color: black;
    display: flex;
    width: 100%;
}

#pages{
    padding-left: 500px;
}
#mn{
    word-spacing: 50px;
    margin-top: 28px;
}

li{
    text-align: center;
    text-decoration: none;
    font-size: 18px;
}
h4{
    margin-left: 20px;
    font-size: 20px;
    color: #ffffff;
}

p{
    font-size: 25px;
}
body{
    background-color: rgb(184, 225, 252);
}
#email{
    color: #000000;
    font-size: 22px;
    word-spacing: 0px; 
    text-decoration: underline;
}

.foot{
    padding-top: 10px;
    height: 150px;
    background-color: #000000;
    font-size: 20px;
    line-height: 10px;
    width: 100%;
    font-family: sans-serif;
    color: #ffffff;
}

.para{
    text-align: center;
}