

body{
    background: linear-gradient(to top, rgba(0,0,0,0.5)10%,rgba(0,0,0,0.5)10%),url(banana.jpg);
    background-size: cover;
    color: #ffffff;
}
a{
    color: #ffffff;
    font-size: 22px;
    word-spacing: 100px;
    text-align: right;
    text-decoration: none;
    padding-top: 12px;
    font-family: sans-serif;
}

marquee{
    font-size: 20px;
}
h1{
    text-align: center;
    font-family: sans-serif;
}

h2{
    text-align: center;
}

p{
    text-align: center;
    font-size: 20px;
}

.foot{
    padding-top: 10px;
    height: 150px;
    background-color: #000000;
    font-size: 20px;
    line-height: 10px;
    width: 100%;
    font-family: sans-serif;
}

.menu{
    background-color: black;
    display: flex;
    width: 100%;
}

#pages{
    padding-left: 500px;
}
#mn{
    word-spacing: 50px;
    margin-top: 28px;
}
.fruit{
    margin-left: 70px;
}
li{
    text-align: center;
    text-decoration: none;
    font-size: 18px;
}
h4{
    margin-left: 20px;
    font-size: 20px;
}